<h3>My Payment Terms</h3>
<div class="well">
  <p>
    <strong>Days To Pay:</strong>
    <%= @payment_term.days_to_pay %>
  </p>
  <%= link_to edit_payment_term_path(@payment_term), class: "btn btn-default" do %>
    <i class="fa fa-pencil-square-o"></i> Edit
  <% end %>
</div>