<div class="row">
  <div class="col-md-4">
    <%= render "payment_terms" %>
    <div class="well">
      <h5><i class="fa fa-lightbulb-o fa-lg"></i> <strong>Quick Tip:</strong></h5> This is the number of days your clients have to pay each bill before it is considered late.
    </div>
  </div>
  <div class="col-md-8">
  </div>
</div>