<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= job.enrollment.client.fname %> <%= job.enrollment.client.lname %></h3>
  </div>
  <div class="panel-body">
    <%= truncate job.enrollment.service.name, length: 50 %>
  </div>
</div>