<div class="row">
  <div class="col-md-5 col-md-offset-4 sortable">
    <% if @jobs.any? %>
      <%= render @jobs %>
    <% else %>
      <p>No jobs found <%= link_to "Create Job", new_job_path %></p>
    <% end %>
  </div>
</div>