<h1>Advertising</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center">Opportunity Map</h3>
      </div>
    </div>    
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center">Campaigns</h3>
      </div>
    </div>    
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center">Flier Designer</h3>
      </div>
    </div>    
  </div>
</div>