<div class="jumbotron">
  <h1>Welcome to Boomshift!</h1>
  <% if user_signed_in? %>
    <h2><%= current_user.business.name %></h2>
  <% else %>
    <p>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  <% end %>
</div>