<h1>My Clients</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p><%= link_to "Job Board", jobs_path %></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>Timesheets</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>Client Map</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>Billing and Payments</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p><%= link_to "Address Book", clients_path %></p>
  </div>
</div>