<h1>My Clients</h1>
<hr>
<% if @business %>
  <div class="row">
    <div class="col-md-5">
      <%= render partial: "clients/clients", object: @clients %>
    </div>
    <div class="col-md-7">
      <%= render partial: "bills/bills", object: @bills %>
    </div>
  </div>
<% else %>
  <h3>First, you need to <%= link_to ' create your business profile...', new_business_path, class: "btn btn-link btn-lg" %></h3>
<% end %>