<h1>My Schedule</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center"><%= link_to "Today's Jobs", itinerary_path %></h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center">Calendar</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>