<h1>My Schedule</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p><%= link_to "Today's Jobs", itinerary_path %></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>Calendar</p>
  </div>
</div>