<br><br>
<h1 class="text-center">Plans</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title"><strong>Starter</strong></h1>
        </div>
        <div class="panel-body">
          <ul>
            <li class="h4"><strong>2</strong> clients</li>
            <li class="h4"><strong>2</strong> services</li>
            <li class="h4">Job tracking</li>
            <li class="h4">Client billing</li>
            <li class="h4"><strong>Free forever</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title"><strong>Unlimited</strong></h2>
        </div>
        <div class="panel-body">
          <ul>
            <li class="h4"><strong>Unlimited</strong> clients</li>
            <li class="h4"><strong>Unlimited</strong> services</li>
            <li class="h4">Job tracking</li>
            <li class="h4">Client billing</li>
            <li class="h4"><strong>$5 per month</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin: 0 auto; width: 100%; text-align: center;">
      <br>
      <% unless user_signed_in? %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
      <% end %>
    </div>
  </div>
</div>