<button class="btn btn-info btn-large">I'll take Starter for now</button>
<!-- Don't need to use Stripe Checkout for free plan since a credit card is not required -->
<!-- This button needs to be wired up to create a customer on Stripe and subscribe them to a Stripe Subscription Plan -->